# Server
PORT=3001
NODE_ENV=development

# Database (Supabase PostgreSQL)
DB_HOST=db.xxxxxxxxxxxx.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=your-supabase-password

# JWT
JWT_SECRET=change-this-secret-in-production
JWT_EXPIRES_IN=1d



# Supabase Storage
SUPABASE_URL=s.com
SUPABASE_ANON_KEY=ssd
SUPABASE_BUCKET=xxx


# SPOTIFY
EXT_PUBLIC_SPOTIFY_CLIENT_ID="test"
SPOTIFY_CLIENT_SECRET="test"
NEXT_PUBLIC_SPOTIFY_REDIRECT_URI=test